body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #fffffffd, #02071d);
    
}
h1, p{
    text-align: center;
}
table {
    width: 60%; 
    margin: 20px auto; 
    border-collapse: collapse;
    background: white;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}


th, td {
    border: 1px solid #ddd;
    padding: 15px;
    text-align: center;
}


th {
    background-color: #007bff;
    color: white;
    font-weight: bold;
}

.expandida {
    background-color: #ffcc00;
    font-weight: bold;
    text-align: center;
}

td, th {
    width: 50%; 
}


.botao {
    display: inline-block;
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.botao:hover {
    background-color: #218838;
}
