body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    background-image: url('img/fundo_mine.jpg');  
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #333;
    line-height: 1.6;
}
#geral{
    text-align: center;
}
.sum ul{
    gap: 30px;
    display: flex;
    text-align: center;
    justify-content: center;
}
.sum li :hover{
    color: greenyellow;
}
a{
    text-decoration: none;
    color: inherit;
}
.capa {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
}
main {
    padding: 2rem;
    max-width: 1200px;
    margin: 2rem auto;
    background-color: rgba(0, 0, 0, 0.6);  
    color: white;  
    border-radius: 10px; 
}

header {
    background-color: #000000;
    color: #fff;
    text-align: center;
    padding: 2rem;
}

header h1 {
    font-size: 2.5rem; 
    margin: 0;
}
#list{
    font-size: 20px;
}
nav {
    background-color: rgba(81, 95, 85, 0.411);
    padding: 1rem;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
}

nav a:hover {
    border-radius: 8px;
    background-color: #000000;
}

section {
    margin-bottom: 2rem;
}

h2 {
    font-size: 2rem;  
    color: rgb(22, 173, 54);
}

p {
    font-size: 1.125rem;
    margin-bottom: 1.5rem;
}

footer {
    text-align: center;
    background-color: #000000;
    color: #fff;
    padding: 1rem;
    position: end;
    width: 100%;
    bottom: 0;
}


