body{
    color: white;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    
}

.tittle{
    text-align: center;
}
.nome {
    color: purple;
    font-family: 'Times New Roman', Times, serif;
}
#nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    align-items: center;
}
#listExp {
    list-style-type: none;
}
a{
    color: white;
    text-decoration: none;
}
.center {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
.center img{
    width: 100px;
    height: 100px;
    margin-left: 100px;
}

.content {
    padding: 0px 50px;
}
.icon img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid purple;
}
.icon {
    text-align: center;
}

footer img {
    width: 40px;
    height: 40px;
}
footer{
    display: flex;
    justify-content: center;
    text-align: center;
}
footer p {
    margin-top: 2px;
}
.fundo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
  }
  video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(40%);
  }
  abbr{
    text-decoration: none;
  }
  #facu{
    color: darkcyan;
  }
  #php {
    
    color: cornflowerblue;
  }